@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --font-display: "Roboto", "sans-serif";

  --color-star: #ffc000;
  --color-shopButton: #084838;
  --color-shopButtonDark: #063126;
  --color-submitButton: #e3860a;
  --color-submitButtonDark: #cf7a0a;
  --color-textGradientLight: #ffb700;
  --color-textGradientMed: #ea8108;
  --color-textGradientDark: #771e00;
}

@layer base {
  body {
    font-family: "Roboto", serif;
    background: white;
  }
}
